<!-- Выбор темы -->
<div id="pageTheme" class="container">
  <a class="next" href="/">НАЧАТЬ</a>
  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-theme">
    <div class="msg-box">
      <h4 class="msg-box_date"> Как хотите украсить торт?</h4>
      <p class="msg-box_text">Для продолжения нажмите на один из способов украшения торта указанных ниже!</p>
    </div>
    <div class="col-md-6">
      <div id="theme-wedding-div" class="theme">
        <%= image_tag "wedding.png", id: 'theme-wedding', class: 'theme_img' %>
        <h3>На свадьбу</h3>
      </div>
      <div id="theme-bithday-div" class="theme">
        <%= image_tag "bithday.png", id: 'theme-bithday', class: 'theme_img' %>
        <img src="" alt="">
        <h3>Для любого торжества</h3>
      </div>
    </div>
    <div class="col-md-6">
      <div id="theme-child-div" class="theme">
        <%= image_tag "child.png", id: 'theme-child', class: 'theme_img' %>
        <img src="" alt="">
        <h3>На детский праздник</h3>
      </div>
      <div id="theme-anniversary-div" class="theme">
        <%= image_tag "anniversary.png", id: 'theme-anniversary', class: 'theme_img' %>
        <img src="" alt="">
        <h3 class="theme-anniversary-title">На юбилей</h3>
      </div>
    </div>
  </div>
</div>
<!-- конец выбора темы -->
